
<section class="section center ">
  <div class="section__content first-slide ">
      <div class="section__wrap wrap-md-pd">
             <div class="section__items section__items-2">
                  <div class="section__item">
                      <p class="text-orange">Большой выбор</p>
                      <p class="headline-gr">{{"Товаров на любой вкус"|uppercase}}</p>
                      <p class="headline-sm">Всё в одном месте.</p>
                      <div class='mt-1-rem border-radius-15'>
                        <a color="warn" class="bg-warn" mat-raised-button routerLink="/products">Смотреть</a>
                      </div>
                  </div>
                  <div class="section__item center">
                     <div class="img-container center"><img src="/assets/hero_large.jpg" alt="" srcset=""></div>
                  </div>
             </div>
      </div>
  </div>
</section>

<section class="section">
  <div class="section__content text-white ">
    <div class="section__wrap wrap-md-pd ">
          <div class="section__items flex-column bg-promo " >
                <p class="headline-md ">Супер гарантии, акции</p>
                <p class="headline-sm ">На смартфоны, ТВ и электронику</p>
                <div class='mt-1-rem border-radius-15'>
                  <button color="warn" mat-raised-button class="bg-warn">Подробнее</button>
                </div>
           </div>
    </div>
  </div>
</section>  

<section>
  <div class="section__content">
    <div class="section__wrap wrap-md-pd">
          <div class="section__items wrap-md section__items-2 justify-content-end bg-left align-items-start" > 
            <div class="section__item center flex-column mx-400 text-left align-items-start">
                <p class="headline-md ">Только современные технологии</p>
                <p class="headline-sm ">Супер скорость, супер лёгкость</p>
                <div class='mt-1-rem border-radius-15'>
                  <button color="warn" mat-raised-button class="bg-warn">Смотреть</button>
                </div>
             </div>
             <div class="section__item center">
                <div class="img-container center"><img src="/assets/btn.png" alt=""></div>
             </div>
          </div>
    </div>
  </div>
</section>

<section class="section center " style="min-height:60vh;">
  <div class="section__content ">
      <div class="section__wrap wrap-md-pd ">
             <div class="section__items section__items-2 wrap-md flex-rv-media">
                  <div class="section__item center">
                     <div class="img-container center"><img src="/assets/macbook6.jpg" alt="" srcset=""></div>
                  </div>
                  <div class="section__item center flex-column align-items-end">
                      <p class="text-orange">Огромная скорость</p>
                      <p class="headline-md">Доставки</p>
                      <p class="headline-sm">В среднем 1-2 дня</p>
                      <div class='mt-1-rem border-radius-15'><button color="warn" mat-raised-button class="bg-warn">Смотреть</button></div>
                  </div>
             </div>
      </div>
  </div>
</section>


<section class="section">
  <div class="section__content  ">
    <div class="section__wrap wrap-md-pd ">
          <div class="section__items flex-column  bg-vlight" >
             <div class="section__item center flex-column mx-400 text-center wrap-md-pd" >
                <p class="headline-md  ">Выберите свой ноутбук.</p>
                <div class='mt-1-rem border-radius-15'>
                  <button color="warn" mat-stroked-button class="bg-warn text-white">Подробнее</button>
                </div>
             </div>
             <div class="section__item wrap-md-pd pt-4 " >
                  <div class="center flex-wrap grid_media" *ngIf="ads.length">
                    <ng-template ngFor let-card [ngForOf]="ads" >
                         <card [card]="card" class="center w-100"></card>
                    </ng-template>  
                  </div>       
                  <div class="center " *ngIf="!ads.length" style="min-height:40vh;">
                    <div class="spinner-border text-light" role="status" style="width: 5rem; height: 5rem;">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
             </div>
          </div>
    </div>
  </div>
</section>


      