<header class="header shadow bg-warn text-white">
    <div class="header__wrap wrap-md">
        <div class="header__content">
          <div class="header__brand-name">
            <h1>{{"inDigital" | uppercase}}</h1>
          </div>
          <ul class="header__links">
             <li class="header__link"><a mat-stroked-button color="basic"  routerLink="">Home</a></li>
             <li class="header__link"><a mat-button routerLink="">NoteBooks</a></li>
             <li class="header__link"><a mat-button routerLink="">Login</a></li>
             <li class="header__link"><a mat-button routerLink="">Contact us</a></li>
          </ul>
      </div>
    </div> 
  </header>
  