<footer class="footer bg-dark">
  <app-section-layout cssClass="footer" [hasTitle]="false">
    <ul class="footer__info center w-100">
      <li class="footer__link footer__link-md">
        <a routerLink="/info/">Доставка и оплата</a>
      </li>
      <li class="footer__link footer__link-md">
        <a routerLink="/info/refund">Возврат и обмен</a>
      </li>
      <li class="footer__link footer__link-md">
        <a routerLink="/info/">Гарантийная политика</a>
      </li>
      <li class="footer__link footer__link-md">
        <a routerLink="/info/">Контакты</a>
      </li>
    </ul>
    <div class="footer__contacts center">
      <ul class="footer__call-time">
        <li>
          Контакт-центр с 8:30 до 20:30
        </li>
        <li>
          В субботу: с 9:00 до 20:00
        </li>
        <li>
          В воскресенье: с 9:30 до 19:30
        </li>
      </ul>
      <div class="footer__phone">
       <h3>0 800 30 00 33</h3>
      </div>
    </div>
  </app-section-layout>
</footer>
