.bg-linear{
    background-image: linear-gradient(45deg, #231F20,#2F3538,#414042, #2F3640,#3F4C6B,#606C88);
}

.admin__headline{
        font-size: 40px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2rem;
        text-align: center !important;
        line-height: 60px;
        grid-column:1/-1;
        color:white;
}

.admin__avatar{
    max-width: 200px;
    max-height: 400px;
}

.admin__actions{
    width:100%;
    padding:2rem 0;
}

.admin__items{
    padding-top:3rem;
    position: relative;
    z-index:2;

    ::after{
        content:"";
        display:block;
        top:0;
        left:0;
        width:100%;
        height:100%;
        position: absolute;
        filter:blur(5px);
    }
}

.admin__wrap{
    height: 100%;
    min-height: 100vh;
}

.admin__items{
    position: sticky;
    top:4rem;
    width:40%;
    padding-right:2rem;
}

.admin__chart{
    width:100%;
    height:100%;
}

.admin__profile-card{
       height:100%;
       width:100%
}

.admin__profile-card mat-card{
       height:100%;
}

.admin__order-list{
    padding-left:2rem;
}

.btn-count{
    margin-top: 10px;
    transform: scale(1.5)
}


.admin__chart-count{
    padding:10px 0;
}

.admin__profile-img{
        border-radius:50%;
        overflow:hidden;
        max-width: 150px;
        max-height: 150px;
        border-radius: 50% 0;
}

.admin__profile-info:nth-child(1){
        grid-column: 2/span 5;
}

.admin__profile-card{
        grid-column-start: span 5;
}


.admin__profile-info .wrap-md >mat-card-content:nth-child(2){
     grid-column: span 6;
}

.admin__profile-info .wrap-md >mat-card-content:nth-child(1){
     grid-column: span 8;
     margin-left:10px;
}

.admin__profile-info .wrap-md >mat-card-content{
    margin:10px !important;
}


.admin__options{
    margin-top:2rem;
}

.admin{
    padding-top:3rem;
}

.admin__username{
    padding-top: 1.5rem;
    color: white;
    font-weight: 300;
    text-shadow: 5px 5px 10px black;
    font-size: 25px;
}

.admin__order-list>mat-card{
   margin-bottom: 1.6rem;
   background-color:transparent;
   position: relative;
   z-index:2;
}

.admin__order-list > mat-card ::after{
       content:"";
       display:block;
       position: absolute;
       width:100%;
       height:100%;
       filter:blur(10px);
       top:0;
       left:0;
}

.admin__dashboard{
    width:60%;
    min-height: 100vh;
    margin-bottom: 0;
    background-image: linear-gradient(90deg, rgba(251,248,245,1) 0%, rgba(238,237,234,1) 43%, rgba(234,230,225,1) 100%);
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.3), -5px -10px 20px rgba(255,255,255,0.5);
    
    >div{
        padding-bottom: 3rem;
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(30px,1fr));
        grid-auto-rows: minmax(170px,auto);
        padding-top: 0;
        grid-gap:20px;
        align-items: center;
        justify-items: center;
        width:100% !important;
    }

    .admin__banner{
        grid-column: 1/-1;
        width: 100%;
        grid-row: 1/span 2;
        height:100%;
        //background: repeating-linear-gradient(45deg, #1A2026, #2F3538 10px, #414042 10px, #414042 20px) !important;
    }
}



.admin__profile-text{
    font-size: 16px;
    font-weight: 400;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 10px;
    align-items: center;
    grid-gap: 5px;
    border-bottom: 1px solid #D4DADE;
    padding-bottom: 5px;
}

.admin__profile-text span:nth-child(2){
    display: inline-block;
    margin-left: 30px;
    font-weight: 300;
    max-width: 100%;
    word-break: break-all;
}


.admin__profile-text span:nth-child(1){
    font-weight:500;
    min-width: 130px;
    display: inline-block;
    margin-right: 10px;
}

.admin__order-selected button{
    width: 100%;
    margin-top: 10px;
    font-weight:300;
}

.admin__order-actions button{
   margin:0 5px;
}

.admin__order-btns{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap: wrap;
  width:100%;

  button{
      min-width:200px;
      margin:5px;
      flex: 1 1 50%;
  }
}

th.mat-header-cell {
    text-align: center;
    padding: 10px !important;
}

.admin__profile-avatar {
    grid-row: 1/-1;
    grid-column: 1/span 6;
    min-width: 100px;
    min-height: 100px;
}

.image-container{
    width:100%;
    height:100%;
}

.image-container img{
    object-fit: cover;
    width: 100%;
    height: auto;
}

.admin__profile-info{
    width:100%;
    max-width:600px;
    grid-column: 2/span 6;
}

.admin__profile-card mat-card-title{
  font-weight:300;
  text-transform: uppercase;
  padding-top:20px;
  line-height:30px;
}

.admin__chart > mat-card:nth-child(1){
  background-color: #231F20;
  color:white;
}


.admin__dashboard, .admin__items{
  padding-bottom:3rem;
}


@media(max-width:1070px){
    .admin__profile-img{
        margin-right:3rem;
    }

    .admin__profile-card{
       grid-column: 2/span 5;
    }
}



@media(min-width:1000px){
    .admin__profile-img{
        margin-right:3rem;
    }
}


@media (max-width:1000px){
   .admin__profile-info>mat-card > .wrap-md {
       grid-template-rows: 50% 50%;
       grid-template-columns: repeat(6,1fr);
   }
   .admin__profile-info .wrap-md > mat-card-content:nth-child(1) {
       grid-row: 2/3;
    }
    .admin__profile-info .wrap-md > mat-card-content:nth-child(2) {
       grid-row: 1/2;
    }
   .admin__profile-info .wrap-md > mat-card-content{
        grid-column: 2/-2;
    }
    .admin__profile-info{
        width:100%;
    }

    .admin__profile-card{
      grid-column: 2/span 5;
    }

    .admin__profile-info{
      width: 100%;
      max-width: 600px;
      grid-column: 2/-2;
   }
}

@media(max-width:900px){
    .admin__content{
        flex-direction: column;
    }

    .admin__dashboard{
        width: 100%;
        box-shadow: none;
    }

    .admin__items{
        width: 100%;
        padding: 3rem 0;
    }
}