<div class="body-content w-100" #body>
  <header-main></header-main>
  <router-outlet></router-outlet>
  <footer class="footer bg-gray">
    <div class="div wrap-md-pd center">
      <p style="margin-bottom:0;"> All rights are reserved </p>
    </div>
  </footer>
</div>
<div class="slider"  
(click)="scroll($event,true)"
(mousedown)="mousedown()" 
(mousemove)="scroll($event,false)"
(mouseup)="mouseup($event,true)"
(mouseout)="mouseup($event,true)"
*ngIf="isDisplayScroll"
>
     <div class="slider__content">
       <div class="slider__btn-container" #button>
         <button
          color="basic"
          mat-flat-button
          [ngStyle]="btnHeight"
          ></button>
       </div>
     </div>
</div>