@media (max-width:870px){
    .headline-md{
        font-size:45px;
    }

    .headline-sm {
        font-size: 20px;
    }
}

@media (max-width:770px){
    .section__items{
        flex-direction: column !important;
        align-items: center !important;
    }

    .img-container{
        margin:0 auto;
        margin-top:2rem;
        max-width:80%;
    }

    .section__item .headline-sm,.section__item .headline-md,.section__item{
        text-align: center !important;
    }
    
    .wrap-md-pd,.wrap-md{
       width:85%;
     }

    .border-radius-15{
       margin:10px auto;
    }

    .header__content,.header__links{
        flex-direction: column;
    }

    .header__links{
        margin-left: 0;
        width: 100%;
        padding-left: 0;
        padding-top: 2.5rem;
    }

    .header__links li{
        padding:1.7rem;
        width:90%;

        a{
            transform: scale(1.5) !important;
            width:70%;
        }
    }

    .header__content{
        align-items: flex-start;
    }

    .header__media{
        min-height:100vh;
        background-position: right bottom;
        background-repeat: no-repeat;
        position: fixed;
        top:0;
        left:0;
        width:100vw;
    }

    #menu_icon{
        position: absolute;
        display:block;
        top:1rem;
        right:2.5rem;
        cursor: pointer;
    }
}