.product__title {
    font-weight: 300;
    font-size: 35px;
    grid-column: 1/-1;
    text-align: left;
    padding-bottom: 1rem;
    justify-self: start;
    align-self: center;
    line-height: 1.2;
}

.product__container {
    padding-top: 1.7rem;
}

.product__area {
    padding-top: 2.7rem;
}

.product__short-descr > h5 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 500;
}

.product__price-label > span:nth-child(1) {
    color: #777;
    font-size: 16px;
    line-height: 1.5;
}

.product__price-label > span {
    display: block;
}

.product__price-label > span:nth-child(2) {
    color: red;
    font-size: 25px;
    line-height: 1.5;
    padding: 10px 0;
}

.product__short-descr > p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 13px;
}

.price-btn {
    font-size: 22px;
    height: 50px;
    margin-bottom: 10px;
    color: white;
    border: none;
    background-color: red;
    width: 100%;
    font-weight: 300;
}

.product__price {
    background-color: #f8f8f8;
    margin-bottom: 30px;
    padding: 20px;
    margin-top: 30px;
}

.product__buy-counter {
    font-size: 14px;
    color: #777;
}

.product__container {
    display: grid;
    grid-template-rows: 100px 350px auto;
    grid-auto-rows: 300px;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-columns: repeat(12, calc(100% / 12));
    align-items: center;
    justify-items: center;
}

.product__full-descr {
    grid-column: 1/-1;
    width: 90%;
    grid-row-start: 5;
}

.product__info-container {
    grid-column: 1/-1;
    width:100%;
}

.product__images {
    grid-row: 2/3;
    grid-column: span 7;
    cursor: pointer;
    min-width: 100%;
    min-height: 100%;
    border-radius: 5px;
}

.product__bread-crumps {
    max-width: 500px;
    width: min-content;
    min-width: 300px;
}

.product__short-descr {
    grid-column-end: -1;
    grid-column-start: span 5;
    text-align: center;
    width: 100%;
}

.product__long-description p {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 35px;
}

.product__info-btn {
    margin-right: 30px;
    flex: 1 1 33%;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    padding: 1.1rem 0;
}

.border-red {
    border-bottom: 3px solid red;
}

.product__info-btn span {
    font-weight: 500;
}

.product__info {
    margin-top: 2rem;
    background-color: #f8f8f8;
}

.product__info-container {
    padding-top: 1.2rem;
}

.product__full-descr {
    padding-top: 1rem !important;
}

.product__short-descr {
    max-width: 500px;
}

.product__short-descr {
    grid-row-start: 2;
}

@media (max-width: 850px) {
    .product__title {
        text-align: center;
        justify-self: center;
    }

    .product__short-descr {
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    .product__images {
        align-self: center;
        justify-self: center;
        max-width: 90%;
        grid-column: 1/-1;
        grid-row: 2/3;
    }

    .product__info-container {
        grid-row: 4/5;
        align-self: flex-start;
    }

    .product__short-descr{
        max-width:700px;
        width:100%;
    }

    .product__container{
        grid-template-rows: 60px 360px auto;
        padding-top:2.7rem;
    }
}
