:root{
    --color:#2c3e50;
}

.btn-link,#changelist .actions .button{
    background: var(--color);
    padding: 5px 10px;
    text-align: center;
    color: white !important;
    border-radius: 15px;
    margin: 5px !important;
}

.inline-group {
    box-shadow:0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)
}

#changelist .actions .button{
    border-radius: 5px;
}

table thead th .text span {
    text-align: center;
}

#header {
    background-color: var(--color) !important;
}

div.breadcrumbs {
    background: #414042
}

#nav-sidebar{
    margin-top:1rem;
}

#toolbar form input[type="submit"]{
    color: white;
    background-color: var(--color);
    border: none;
    padding: 8px 15px;
    text-transform: lowercase;
}

a:link, a:visited {
    color: #231F20;
    text-decoration: none;
}

.object-tools a.addlink{
    background-color: #D7E1E9;
    color: #231F20;
}

.user-avatar{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.user-avatar img{
    object-fit: contain;
    object-fit: cover;
    width: 100%;
}

.module caption, .inline-group h2 {
    background-color:#DAE4E5;
    text-align: center;
    color: #2F3538;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: white;
    text-transform: uppercase;
    padding: 10px 0;
}

.toggle-nav-sidebar {
    background: #D5D5D5;
    border: none;
}


.module caption a, .inline-group h2 a{
    color: #2F3538 !important;
    font-weight: 500 !important;
}

#content>h1{
    text-align:center;
    font-size: 30px;
    padding-top: 2rem;
    font-weight: 300;
}


.product-avatar{
    border-radius: 0 !important;
}

#changelist-filter{
    margin-top: 2.7rem !important;
}