<section class="product__categories-list">
  <div class="w-100 d-flex align-items-center justify-content-start">
    <article class="product__category-item">
      <a routerLink="/category/notebooks">
        <img class="product__category-img" src="/assets/yoga.jpg" alt="..."/>
        <a class="product__category-overlay">
          <div class="product__category-content">
            <h4>Планшеты</h4>
          </div>
        </a>
      </a>
    </article>

    <article class="product__category-item">
      <a routerLink="/category/notebooks">
        <img class="product__category-img" src="/assets/phones.jpg" alt="..."/>
        <a class="product__category-overlay">
          <div class="product__category-content">
            <h4>Смартфоны</h4>
          </div>
        </a>
      </a>
    </article>
  </div>
</section>
