<div class="comments">
    <div class="comments__wrap">
        <div class="comments__headline text-center pt-4">
            Последние отзывы
        </div>
        <div class="comments__items center flex-column">
            <div class="comments__item" *ngFor="let comment of comments">
                  <div class="card">
                      <div class="card-header card-author">
                          {{comment.sender.username}}
                      </div>
                      <div class="card-body">
                           <div class="card-text">
                               {{comment.message}}
                           </div>
                      </div>
                      <div class="rating">
                          <div class="rating__content stars center">
                                <div class="stars__container" *ngFor="let star of [1,2,3,4,5]">
                                         <img src="{{star<=comment.rating ? '/assets/star.svg':'/assets/star_blank.svg'}}" alt="..." class="stars__img" style="height:15px;">
                                </div>
                           </div>
                      </div>
                  </div>
            </div>
            <div class="center w-100" *ngIf="!comments.length && !isSentRequest">
                <mat-spinner class="bg-warn"></mat-spinner>
            </div>
            <div class="card center w-100" *ngIf="!comments.length && isSentRequest">
                 <div class="card-body  wrap-md">
                     <p class="mb-0">Комментариев нет</p>
                 </div>
            </div>
        </div>
    </div>
</div>