<div class="search center">
    <div class="search__wrap wrap-md-pd">
         <h6 class="search__title text-center">Поиск</h6>
         <div class="search__form center">
            <div class="search__field">
                <div class="search__input-container">
                    <input type="text" #search/>
                </div>
            </div>
            <button mat-flat-button class="search__icon" color="accent" on-click="click()">
                 Поиск
            </button>
         </div>
         <div class="search__results">
             <ul class="search__items">
                 <li *ngFor="let item of results" on-click="close()">
                     <a routerLink="/product/{{item.id}}">
                         {{item.title}}
                    </a>
                 </li>
                <li *ngIf="!results.length && message">
                     {{message}}
                </li>
             </ul>
         </div>
         <div class="search__page-link center justify-content-end" *ngIf="results.length" on-click="showMore()">
             <a color="accent" mat-flat-button [routerLink]="['/search']" [queryParams]="{search: searchText}">Больше результатов</a>
         </div>
    </div>
</div>