<div class="search center">
    <div class="search__wrap wrap-md-pd">
         <h6 class="search__title text-center">Поиск</h6>
         <div class="search__form center">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Type here</mat-label>
                <input matInput>
            </mat-form-field>
            <button mat-raised-button color="accent" class="search__icon">
                 Поиск
            </button>
         </div>
    </div>
</div>