.section__form{
    padding:1rem;
    width: 90%;
    max-width: 500px;
    border-radius: 15px;
    padding: 2rem;
    background-color:white;
}

mat-form-field{
    width:100%;
}

section{
    position: relative;
}

section::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 3rem;
    right: 0;
    z-index: -1;
    min-height: 50%;
    width: 50%;
    background-image: url(/assets/contact.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(65deg)
}

.section__field-errors{
    width:100%;
    margin-bottom: 20px;
    
    button{
        margin:5px 0;
        width:100%;
    }
}