.auth{
    background: repeating-linear-gradient(45deg, #1A2026, #2F3538 10px, #414042 10px, #414042 20px);
}

.auth__form{
    max-width: 700px;
    width:80%;
    padding:4rem 0;
    background-color: transparent;
}

form{
    width:100%;
    max-width: 500px;
    color: white;
    border-radius: 5px;
    background: #231F20;
    padding: 2rem;
}

mat-card{
    background-color: transparent;
    box-shadow: none !important;
    color: white;
}



.border-red{
    border-bottom: 2.5px solid red;
}

.auth__titles{
    height:43px;
    margin-top: 2rem;
}

.auth__titles > button{
    text-transform: uppercase;
    flex: 1 1 50%;
    width: 50%;
    font-size: 20px;
    font-weight: 400;
    outline: none;
    padding-bottom:5px;
    color: white;
    background-color: transparent;
}

.auth__items > div{
    width: 100%;
    max-width: 400px;
    padding: 10px;
}

.auth__titles {
    max-width:500px;
    margin: 0 auto;
    width:90%;
}

.auth__items{
    padding:20px 0 ;
}

.btn-red{
        max-width: 300px;
        width: 80%;
}

.unactive{
    color: #636e72;
}