<section class="section center first-slide bg-lgray">
    <div class="section__content ">
        <div class="section__wrap wrap-md-pd">
               <div class="section__items wrap-md section__items-2">
                    <div class="section__item pr-1">
                        <p class="text-orange">Новый</p>
                        <p class="headline-md">IPhone</p>
                        <p class="headline-sm">5G speed. The fastest chip in a smartphone</p>
                        <div class='mt-1-rem border-radius-15'>
                          <a color="warn" mat-raised-button routerLink="/products">Смотреть</a>
                        </div>
                    </div>
                    <div class="section__item">
                       <div class="img-container"><img src="/assets/products.jpg" alt="" srcset=""></div>
                    </div>
               </div>
        </div>
    </div>
  </section>
  