<section class="section center first-slide " >
    <div class="section__content center first-slide">
        <div class="section__wrap wrap-md-pd" >
               <div class="section__items wrap-md flex-column justify-content-between">
                    <div class="section__item pr-1 text-center">
                        <div>
                          <p class="brand-name">IPhone Pro</p>
                          <p class="headline-md">Blast past fast</p>
                        </div>
                        <div class='mt-1-rem border-radius-15'>
                          <a color="warn" mat-raised-button routerLink="/products">Смотреть</a>
                        </div>
                    </div>
                    <div class="section__item pt-4">
                       <div class="img-container pt-4"><img src="/assets/btn.png" alt="" srcset=""></div>
                    </div>
               </div>
        </div>
    </div>
  </section>
  

  <section class="section center first-slide bg-light" >
    <div class="section__content center first-slide">
        <div class="section__wrap wrap-md-pd text-center" >
             <h3>{{"Our products" | uppercase}}</h3>
              <div class="section__items">
                <div class="section__item" *ngFor="let card of products">
                      <div class="card-sm flex-33 shadow center" >
                         <div class="cards-sm__body center flex-column">
                              <div class="img-container">
                                  <error-loading hidden></error-loading>
                                  <img src="{{card.img}}" alt="..." on-error="errorImage($event)" #img/>
                              </div>
                              <div class="card-sm__content text-center">
                                 <div class="card-sm__title">{{card.title}}</div>
                                 <div class="card-sm__subtitle">{{card.description | slice:0:40}}</div>
                                 <div class='mt-1-rem border-radius-15'>
                                 <button color="warn" mat-raised-button >Смотреть</button>
                               </div>
                          </div>
                         </div>
                      </div>
                </div>
                <div class="section__item"></div>
              </div>
        </div>
    </div>
  </section>       