<section class="section center first-slide " >
    <div class="section__content center first-slide">
        <div class="section__wrap wrap-md-pd" >
               <div class="section__items wrap-md flex-column justify-content-between">
                    <div class="section__item pr-1 text-center">
                        <div>
                          <p class="brand-name">Новенькие IPhones</p>
                          <p class="headline-md">Blast past fast</p>
                        </div>
                        <div class='mt-1-rem border-radius-15'>
                          <a color="warn" mat-raised-button routerLink="/products">Смотреть</a>
                        </div>
                    </div>
                    <div class="section__item pt-4">
                       <div class="img-container pt-4"><img src="/assets/btn.png" alt="" srcset=""></div>
                    </div>
               </div>
        </div>
    </div>
  </section>
  

  <section class="section  product center first-slide bg-light" >
    <div class="section__content center first-slide">
        <div class="section__wrap wrap-md-pd text-center" >
          <h3 class="section__headline">{{"Наши товары" | uppercase}}</h3>
          <div class="product__search text-center">
                  <mat-card class="shadow bg-white">
                        <div class="wrap-md center flex-column">
                           <mat-card-content>
                               <mat-card-title>Поиск</mat-card-title>
                           </mat-card-content>
                           <mat-card-content class="w-100">
                               <div class="product__search-area">
                                    <div class="product__search-card">
                                          <h6>Категория</h6>
                                          <mat-form-field appearance="fill">
                                                <mat-label>Выбрать</mat-label>
                                                <mat-select color="warn">
                                                   <mat-option value="notebooks">Notebooks</mat-option>
                                                   <mat-option value="tv">Tv</mat-option>
                                               </mat-select>
                                          </mat-form-field>
                                    </div>
                                   
                                    <div class="product__search-card">
                                          <h6>Цена</h6>
                                          <mat-slider
                                               min="1" 
                                               thumbLabel
                                               tickInterval="1000"
                                               max="4000"
                                               step="50" 
                                               value="4000">
                                          </mat-slider>
                                   </div>
                               </div>
                           </mat-card-content>
                           <mat-card-content>
                              <button mat-raised-button color="warn">Найти</button>
                           </mat-card-content>
                        </div>
                  </mat-card>
          </div>
           <div class="section__items product__area flex-wrap">
                <div class="section__item product__content center" *ngFor="let card of products">
                    <card [card]="card"></card>
                </div>
            </div>
        </div>
    </div>
  </section>       